<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Cocktail bearbeiten</title>
    <script src=""></script> <!--Script hinzufügen-->
    <style>
        body{
            text-align: center;
        }
        span{
            font-style: italic;
        }
        h1{
            text-decoration: underline overline;
        }
        </style>
</head>


<body>
    <form method="POST">
    <span>
        <a class="link" href="init">Generator</a>
        <a class="link" href="Cocktail_Buch">Cocktail Buch</a>
        <a class="link" href="cocktail_loeschen">Löschen</a>   
    </span>

    <h1>Bearbeite deinen Cocktail</h1>
    <div>
        <h2>Gib die Cocktail-ID ein und ran ans Werk</h2>
        <span>
            <input type="text" name="oldName">
        </span>
    </div>
    
    <div>
        <h2>Gib einen neuen Namen ein:</h2>
        <input type="text" name="newName">
        
    </div>
    <div>
        <button type="submit" id="send_changes">Bearbeiten</button>
    </div>
    
    <!-- Giph entnommen aus: https://giphy.com/gifs/imdb-tiff-riz-toronto-film-festival-ZCN7aP7GxOs3BYpg4u-->
    <iframe src="https://giphy.com/embed/ZCN7aP7GxOs3BYpg4u" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/imdb-tiff-riz-toronto-film-festival-ZCN7aP7GxOs3BYpg4u">via GIPHY</a></p>

    <span>
        <a class="link" href="home">Generator</a>
        <a class="link" href="Cocktail_Buch">Cocktail Buch</a>
        <a class="link" href="cocktail_loeschen">Löschen</a>   
    </span>
</form>
</body>
</html>