<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Cocktail Buch</title>
    <script src="cocktail_Buch.js"></script>
    <link rel="stylesheet" href="cockteil_Buch.css">
</head>


<body>
        <form action="" id="showCocktail">
            <h1><%= name %></h1>
    <span>
        <a class="link" href="home">Generator</a>
        <a class="link" href="cocktail_bearbeiten">Bearbeiten</a>
        <a class="link" href="cocktail_loeschen">Löschen</a>
    </span>

    <div>
        <h1>Das große Cocktail Buch</h1>
        <iframe src="https://giphy.com/embed/ZvK3JUXwZimcgxev3z" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/utahjazz-ekpe-udoh-page-turn-ZvK3JUXwZimcgxev3z">via GIPHY</a></p>
    </div>

    <span>
        <a class="link" href="home">Generator</a>
        <a class="link" href="cocktail_bearbeiten">Bearbeiten</a>
        <a class="link" href="cocktail_loeschen">Löschen</a>
    </span>
        </form>
</body>
</html>
