<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Cocktail löschen</title>
    <script src=""></script> <!--Script hinzufügen-->
    <link rel="stylesheet" href=""><!--CSS hinzufügen-->
</head>


<body>
    <form method="POST">
        <span>
            <a class="link" href="home">Generator</a>
            <a class="link" href="Cocktail_Buch">Cocktail Buch</a>
            <a class="link" href="cocktail_bearbeiten">Bearbeiten</a>   
        </span>

        <h1>Lösche deinen Cocktail</h1>
        <div>
            <h2>Gib die Cocktail-ID ein und bye bye ;)</h2>
            <span>
                <input type="text" name="name">
                <button id="delete" type="submit">Löschen</button>
            </span>
            
        </div>
        
        <span>
            <a class="link" href="home">Generator</a>
            <a class="link" href="Cocktail_Buch">Cocktail Buch</a>
            <a class="link" href="cocktail_bearbeiten">Bearbeiten</a>   
        </span>
</form>
</body>
</html>