<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Cocktail löschen</title>
    <script src=""></script> <!--Script hinzufügen-->
    <style>
        body{
            text-align: center;
        }
        span{
            font-style: italic;
        }
        h1{
            text-decoration: underline overline;
        }
    </style>
</head>


<body>
    <form method="POST">
        <span>
            <a class="link" href="home">Generator</a>
            <a class="link" href="Cocktail_Buch">Cocktail Buch</a>
            <a class="link" href="cocktail_bearbeiten">Bearbeiten</a>   
        </span>

        <h1>Lösche deinen Cocktail</h1>

        <!-- Giph entnommen aus: https://giphy.com/gifs/old-linda-feat-de5bARu0SsXiU-->
        <iframe src="https://giphy.com/embed/de5bARu0SsXiU" width="480" height="253" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/old-linda-feat-de5bARu0SsXiU">via GIPHY</a></p>

        <div>
            <h2>Gib die Cocktail-ID ein und bye bye ;)</h2>
            <span>
                <input type="text" name="name">
                <button id="delete" type="submit">Löschen</button>
            </span>
            
        </div>
        
        <span>
            <a class="link" href="home">Generator</a>
            <a class="link" href="Cocktail_Buch">Cocktail Buch</a>
            <a class="link" href="cocktail_bearbeiten">Bearbeiten</a>   
        </span>
</form>
</body>
</html>