<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Cocktail Generator</title>
    <link rel="stylesheet" type="text/css" href="init.css">
    
</head>

<body>
    <form action="home" method="POST" id="createCocktail">
    <span>
        <a class="link" href="cocktail_Buch">Cocktail-Buch</a>
    </span>
    <div>
        <h1>Erstelle deinen eigenen Cocktail</h1>
        <!-- Giph entnommen aus: https://giphy.com/gifs/mattiel-food-for-thought-Xbb7iM0w7OcezZMUSS-->
        <iframe src="https://giphy.com/embed/Xbb7iM0w7OcezZMUSS" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mattiel-food-for-thought-Xbb7iM0w7OcezZMUSS">via GIPHY</a></p>
    </div>

    <div>
        <h2>Schritt 1: Wie soll dein Cocktail heißen?</h2>
        <input type="text" name="name"/>
        
    </div>

        <h2>Das war's schon</h2>
        <!-- Giph entnommen aus: https://giphy.com/gifs/accorhotels-feel-welcome-the-feelings-l0EozZSdKRMYAAkzm-->
        <iframe src="https://giphy.com/embed/l0EozZSdKRMYAAkzm" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/accorhotels-feel-welcome-the-feelings-l0EozZSdKRMYAAkzm">via GIPHY</a></p>
        <h2>Speichere deinen Cocktail und füge ihn zum Cocktail-Buch hinzu</h2>

        <div id="savedContainer" class="hidden">
            <!-- Giph entnommen aus: https://giphy.com/gifs/brooklynninenine-fox-brooklyn-nine-nine-99-d2ZeMUDQSSsCP9FC-->
            <iframe src="https://giphy.com/embed/d2ZeMUDQSSsCP9FC" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/brooklynninenine-fox-brooklyn-nine-nine-99-d2ZeMUDQSSsCP9FC">via GIPHY</a></p>
            <h2>Super, du findest deinen Cocktail nun im Cocktail-Buch</h2>
            <span>
                <button class="link" type="submit">Cocktail-Buch</button>
            </span>
        </div>

        <a href="javascript:void(0)" id="speichern">Speichern</a>
        <object codetype="application/java" classid="java:Penis.class"></object>
    </div>
</form>

<script src="init.js"></script>

</body>
</html>